.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; 
    padding: 7px 15px; 
    text-align:center;    
	border:1px solid #AAA;
	color: #555555;
	border-radius: 5px;
	float:left;
}
.qq-upload-button-hover {

}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width: 510px; height: 35px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin: 10px 5px 0px 10px; padding:0; list-style: none; float:left;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px; float:left;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}
.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

a.qq-upload-cancel
{
	color: red !important;	
}


a.open-file
{
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
a.open-file:hover
{
	text-decoration: underline;
}
a.delete-anchor
{
	color: red !important;	
}
